*{
    margin: 0;
    box-sizing: border-box;
}
.container-main{
    width: 100%;
    padding: 20px;
    background-color: #222831;
}
.header{
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-direction:column;
}
.header a{
    text-decoration: none;
    color: white;
    border: 5px solid #00ADB5;
    border-radius: 50px;
    width: 120px;
    height: auto;
    line-height: 40px;
    text-align: center;
    font-family: "Contrail One", sans-serif;
    background-color: #00ADB5;

}
.container-main h1{
    font-size: 2.5rem;
    color: white;
    font-family: "Contrail One", sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.container-projects{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.boxProject{
    font-family: "Contrail One", sans-serif;
    color: white;
    text-align: center;
    width: 33%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.imgBox{
    width: 200px;
    height: 150px;
    
    border-radius: 30px;
    display: inline-block;
    z-index: 2;
    position: relative;
}
.bgHover{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    transition: 0.2s;
    position: relative;
    border: 1px solid #00ADB5;
}

.bgHover:hover{
    display: flex;
    transition: 0.2s;
    background-color: rgba(0, 0, 0,0.5);
    z-index: 3;
    border: 3px solid rgba(0, 173, 181,0.8);
}
.b1{
    background-image: url(../img/project1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.btn{
    background-color: #00ADB5;
    border: 0;
    color: white;
    border-radius: 50px;
    width: 120px;
    height: 45px;
    font-family: "Contrail One", sans-serif;
}
.b2{
    background-image: url(../img/project2.png);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
}
.b3{
    background-image: url(../img/project3.png);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
}
.b4{
    background-image: url(../img/project4.png);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
}
.b5{
    background-image: url(../img/project5.png);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
}
.b6{
    background-image: url(../img/project6.png);
    background-size: cover;
    background-position: 20%;
    background-repeat: no-repeat;
}
.b7{
    background-image: url(../img/project7.png);
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
}
.b8{
    background-image: url(../img/project8.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.b9{
    background-image: url(../img/project9.png);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
@media (min-height:1024px){
    .container-main{
        height: 100vh;
    }
}
@media (max-width:1024px){
    .boxProject{
        width: 50%;
    }
    .container-main{
        height: auto;
    }
}
@media (max-width:600px){
    .boxProject{
        width: 100%;
    }
    .container-main{
        height: auto;
    }
}